.about-container {
    display: flex;
    padding: 20px; 
}


.about-text {
    background-color: black;
    color: white;
    flex: 1; 
    margin-right: 30px; 
    
}
.about-text{
    padding: 20px;

}


